.dogCard {
    width: 350px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.dogCard:hover {
    border: 3px solid rgba(0, 0, 0, .125);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.card img {
    height: 100%;
    object-fit: contain;
}

.card-imgHolder {
    display: inline-block;
    height: 300px;
}